<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecProNexus | Confirmation</title>
    <link rel="stylesheet" href="../static/css/confirmation.css">
    <script src="../static/JavaScript/backgrounds.js" defer></script>
    <link rel="icon" href="../static/image/icon.png">
</head>
<body>
    <div id="particle-canvas"></div>
    <header>
        <h1>SecProNexus</h1>
    </header>
    <main>
        <h2>登録内容の確認</h2>
        <div class="wrapper">
            <p>ユーザー名: {{ data.username }}</p>
            <p>学籍番号/職員番号: {{ data.user_id }}</p>
            <p>入学年度/就任年度: {{ data.admission_year }}年</p>
            <p>専攻・学科コード/所属部署: {{data.major}}</p>
            <p>メールアドレス: {{ data.email }}</p>
            {%if data.is_student%}
            <p>学年:{{data.grade}}年生</p>
            {%endif%}
            <div class="rower">
            <form method="post" action="{{ url_for('signup_confirm') }}">
                <button type="submit" class="commit-button">登録</button>
            </form>
            <a href="{{ url_for('signup') }}" class="signup-button">戻る</a>
        </div>
        </div>
      </main>
    <footer>
        <h4>&copy; セキプロ2023年度入学生部員. All rights reserved.</h4>
    </footer>
</body>
</html>