<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SecProWeb開発学習</title>
        <link rel="stylesheet" href="../static/css/signup.css">
        <script src="{{ url_for('static', filename='JavaScript/backgrounds.js') }}" defer></script>
    </head>
    <body>
        <div id="particle-canvas"></div>
        <header>
            <h1><a href="{{ url_for('index') }}">SecProWeb開発学習</a></h1>
        </header>
        <h1>SignUp</h1>
        <p>サインアップページへようこそ</p><br>
        <main>
            <!-- エラーメッセージの表示 -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="error-message">
                        <ul>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="signup-container">
                <form action="{{ url_for('signup') }}" method="POST">
                    <p>学籍番号</p><br>
                    <input type="number" name="user_id" placeholder="学籍番号を入力してください" required><br><br>
                    <p>ユーザーネーム</p><br>
                    <input type="text" name="username" placeholder="ユーザーネームを入力してください" required><br><br>
                    <p>パスワードの入力</p><br>
                    <input type="password" name="password" placeholder="パスワードを入力してください" required><br><br>
                    <input type="submit" value="登録">
                    <a href="{{ url_for('login') }}" class="tologinlink"><p>アカウントをお持ちの方はこちら</p></a>
                </form>
            </div>
        </main>
        <footer>
            <p>&copy; セキプロ2023年度入学生部員. All rights reserved.</p>
        </footer>
    </body>
</html>